body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(104, 39, 39, 0.1);
    border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

.drop-area {
    width: 90%;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    color: #aaa;
    margin-top: 20px;
}

.drop-area.dragover {
    border-color: #4CAF50;
    color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
    font-size: 14px;
}
